# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyQt6 specific
*.ui
*.qrc

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebooks (if used)
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and misc
*.log
